@page
@model Carlos_Pizza.Pages.Menu.DeleteModel

@{
    ViewData["Title"] = "Delete";
    // Layout = "Details";
}

<h2>Delete @Html.DisplayFor(model => model.MenuItem.Name)?</h2>

@* Display the same as details page, just with a warning header *@
<h4 class="alert-danger">This action cannot be undone.</h4>
<div class="flex-container">
    <div>
        @if (Model.MenuItem.Image is { Length: > 0 })
        {
            string base64String = Convert.ToBase64String(Model.MenuItem.Image);
            string imageSrc = $"data:image/webp;base64,{base64String}";
            <img src="@imageSrc" alt="@Html.DisplayFor(modelItem => modelItem.MenuItem.Name) image" />
        }
        <h3>@Html.DisplayFor(modelItem => modelItem.MenuItem.Name)</h3>
        <p>@Html.DisplayFor(modelItem => modelItem.MenuItem.Price)</p>
    </div>
</div>

<hr/>

<div>
    <ul>
        <li>@Html.DisplayFor(modelItem => modelItem.MenuItem.Desc)</li>
        @switch (Model.MenuItem.Category)
        {
            case "Main":
                <li>This item is a main dish, so make sure to treat yourself to a side.</li>
                break;
            case "Sides":
                <li>This is a side, so don't forget to add your favourite mains to the basket too.</li>
                break;
            case "Drinks":
                <li>This drink is best served with a pizza.</li>
                break;
            default:
                <li>This item belongs to the "@Html.DisplayFor(modelItem => modelItem.MenuItem.Category)" category.</li>
                break;
        }
        @switch (Model.MenuItem.Vegetarian)
        {
            case true:
                <li>This item is suitable for vegetarians.</li>
                break;
            case false:
                <li>This item is not suitable for vegetarians.</li>
                break;
            default:
                <li>We haven't specified whether this is suitable for vegetarians, likely by accident. Please contact us for further guidance.</li>
                break;
        }
    </ul>
</div>

<div class="flex-container">
    <a href="javascript:history.go(-1)"><button class="btn-primary">Go Back</button></a>
    <form method="post">
        <input type="hidden" asp-for="MenuItem.Id"/>
        <button type="submit" class="btn-danger">Delete</button>
    </form>
</div>
