@page
@model Carlos_Pizza.Pages.Menu.DetailsModel

@{
    ViewData["Title"] = @Html.DisplayFor(modelItem => modelItem.MenuItem.Name);
}

<div>
    <h3>@Html.DisplayFor(modelItem => modelItem.MenuItem.Name)</h3>
    <p>@Html.DisplayFor(modelItem => modelItem.MenuItem.Price)</p>
    <p>@Html.DisplayFor(modelItem => modelItem.MenuItem.Desc)</p>
    <hr />
    <ul>
        <li>Availability: @Html.DisplayFor(model => model.MenuItem.Available)</li>
        <li>Suitability for vegetarians: @Html.DisplayFor(model => model.MenuItem.Vegetarian)</li>
    </ul>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MenuItem.Id">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.MenuItem.Id">Delete</a> |
    <a asp-page="./Index">Back to Menu</a>
</div>
