@page
@model Carlos_Pizza.Pages.Admin

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<h3>Delisted Items</h3>
<hr/>
<div class="flex-container">
    @foreach (var m in Model.MenuItems.Where(item => item.Available == false))
    {
        <div>
            <a asp-page="./Details" asp-route-id="@m.Id">
                @if (m.Image != null && m.Image.Length > 0)
                {
                    string base64String = Convert.ToBase64String(m.Image);
                    string imageSrc = $"data:image/webp;base64,{base64String}";
                    <img src="@imageSrc" alt="@Html.DisplayFor(modelItem => m.Name) image"/>
                }
                <h3>@Html.DisplayFor(modelItem => m.Name)</h3>
                <p>@Html.DisplayFor(modelItem => m.Price)</p>
            </a>
        </div>
    }
</div>
</body>
</html>