@page
@using Carlos_Pizza.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Whether you're here for a classic or something new, we've got the perfect slice waiting for you. Please take a look.</p>
</div>

@* <div class="text-center"> *@
@*     <h2>Menu Table</h2> *@
@*     <table> *@
@*         <thead> *@
@*         <tr> *@
@*             <th>Name</th> *@
@*             <th>Description</th> *@
@*             <th>Price</th> *@
@*         </tr> *@
@*         </thead> *@
@*         <tbody> *@
@*         @foreach (var m in Model.MenuItems) *@
@*         { *@
@*             <tr> *@
@*                 <td>@m.Name</td> *@
@*                 <td>@m.Desc</td> *@
@*                 <td>@m.Price</td> *@
@*             </tr> *@
@*         } *@
@*         </tbody> *@
@*     </table> *@
@* </div> *@

@* <h2>Please take a look</h2> *@
<hr />

<div class="flex-container">
    @foreach (var m in Model.MenuItems)
    {
        <div>
            <a asp-page="Menu/Details" asp-route-id="@m.Id">
            <h3>@Html.DisplayFor(modelItem => m.Name)</h3>
            <p>@Html.DisplayFor(modelItem => m.Price)</p>
            <p>@Html.DisplayFor(modelItem => m.Desc)</p>
            </a>
        </div>
    }
</div>